<div>
    <h2 class="text-center text-danger">Log In</h2>

    <div>
        <div class="col-md-6 col-md-offset-3">
            <form class="jumbotron">
                <div class="form-group">

                    <input type="text" ng-model="Username" class="form-control input-lg" placeholder="Username or Email" />
                </div>
                <div>
                    <input type="password" ng-model="Password" class="form-control input-lg" placeholder="Password" />
                </div>
                <button ng-click="()" class="btn btn-success form-control input-lg">Register</button>
            </form>
        </div>

    </div>
</div>
