<div>
<h3 class="text-center text-danger"><i>New User</i></h3>

<div>
    <div class="col-md-6 col-md-offset-3" >
        <form class="jumbotron">
            <div class="form-group">

                <input type="text" ng-model="Username" class="form-control input-lg" placeholder="Username" />
            </div>
            <div class="form-group">

                <input type="text" ng-model="Email" class="form-control input-lg" placeholder="Email" />
            </div>
            <div class="form-group">

                <input type="date" ng-model="DOB" class="form-control input-lg" placeholder="Date of Birth" />
            </div>
            <div class="form-group">

                <input type="password" ng-model="Password" class="form-control input-lg" placeholder="Password" />
            </div>
            <button ng-click="()" class="btn btn-success form-control input-lg">Register</button>
        </form>
    </div>

</div>
    </div>
