
<h2 class="text-center text-danger">Register</h2>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" ng-model="Email" class="form-control input-lg" placeholder="Email" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" ng-model="Password" class="form-control input-lg" placeholder="Password" />
            </div>
            <button ng-click="()" class="btn btn-success form-control input-lg">Register</button>
        </form>
    </div>

</div>
